*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    color: #b1850e;

}
header{
    height: 100%;
    background: #6B1F1F;
    color: #b1850e;
    padding: 1rem;
    
}
nav a{
    height: 100%;
    background: #C9A227;
    color: #ffffff;
    padding: 1rem;
    text-decoration: none;
    padding-left: 8rem;
    

}
nav a:hover{
    color: #A63A2C;
    text-decoration: underline #A63A2C;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #E8D9B5;
    
    
}
section{
    width: 80%;
    padding: 1rem;
    margin: 1rem;
    background: #4A3324;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
article{
    font-size: 1.25rem;
    padding: 2rem 1rem;

}
footer{
    background: #6B1F1F;
    padding: 0.5rem;
}
